.help-segment .help-requirements {
  margin: 10pt;
  float: right;
  border-radius: 10pt;
  border: 1px solid lightslategray;
  padding: 0;
}
.help-segment .help-requirements .header {
  min-width: fit-content;
  border-radius: 10pt 10pt 0 0;
  position: relative;
  display: block;
  background: lightblue;
  text-align: center;
  margin: auto;
}
.help-segment .help-requirements ul {
  list-style-type: square;
  list-style-position: inside;
  padding: 2pt;
  min-width: 100pt;
}
.help-segment .help-knowledge {
  background: #d5f3cd;
  border-radius: 10pt;
  border: 1px solid lightslategray;
  padding: 10pt 20pt 20pt;
}
.help-segment .help-knowledge ul {
  list-style-type: square;
  list-style-position: inside;
  padding: 0;
}
.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
}
.hamburger-button {
  display: none;
}
.accordion-item {
  width: 100% !important;
}
.accordion-button:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.accordion-button {
  font-size: 20px;
}
.sidenav {
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow-y: scroll;
}
.sidenav::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}
.sidenav::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background-color: transparent;
}
.sidenav::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.sidenav::-webkit-scrollbar-thumb {
  border-radius: 12px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  background-color: #006883;
}
.sidenav .wrapper {
  width: 100%;
  margin: 10px;
}
.sidenav .help-navigation p {
  margin-top: 5px;
  margin-bottom: 10px;
  word-wrap: break-word;
}
.sidenav .help-navigation p a {
  text-decoration: none;
  font-weight: bold;
  display: inline;
  font-size: 16px;
  color: #5399ba;
}
.sidenav .help-navigation p span {
  font-size: 14px;
}
img {
  margin-bottom: 1rem;
  margin-left: 11px;
}
.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  max-width: none !important;
  padding: 20px;
}
.container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}
.container::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background-color: transparent;
}
.container::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.container::-webkit-scrollbar-thumb {
  border-radius: 12px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  background-color: #006883;
}
@media (max-width: 800px) {
  img {
    margin-left: unset;
  }
  .nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main-container {
    flex-direction: column;
  }
  .mobile-logo {
    background-image: url("/images/logo.png");
    width: 193px;
    margin-left: 17px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 142px;
    background-position: center;
  }
  .accordion {
    width: 250px;
  }
  .hamburger {
    display: flex;
    width: 60px;
    margin-bottom: unset;
    padding: unset;
  }
  .hamburger-button {
    border: none;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-right: 20px;
    margin-top: 2px;
    background-color: white;
  }
  .sidenav {
    font-size: 10pt;
    left: 0;
    width: 100%;
    padding: 0 10pt 10pt;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }
  .sidenav .help-navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    height: 100vh;
    z-index: 99999;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
    overflow-y: scroll;
  }
  .sidenav .help-navigation::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
  }
  .sidenav .help-navigation::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: transparent;
  }
  .sidenav .help-navigation::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  .sidenav .help-navigation::-webkit-scrollbar-thumb {
    border-radius: 12px;
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    background-color: #006883;
  }
  .sidenav .help-navigation p a {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    color: #5399ba;
  }
  .sidenav .help-navigation p span {
    font-size: 14px;
  }
  .logo {
    justify-content: left;
    width: 120pt;
    display: flex;
  }
  .container {
    font-size: 10pt;
    width: 100% !important;
  }
}
@media (min-width: 2500px) {
  .logo-img {
    width: 260px;
  }
  .sidenav {
    width: 450px;
  }
  .help-navigation p a {
    text-decoration: none;
    font-weight: bold;
    display: inline;
    font-size: 20px !important;
    color: #5399ba;
  }
  .help-navigation p span {
    font-size: 17px !important;
  }
}
code {
  background-color: #ced4da;
  padding: 2px;
}
table {
  border: 1px solid black;
}
table th {
  border-bottom: 2px solid black;
  border-right: 1px solid black;
  padding: 2px;
}
table td {
  padding: 2px;
  border-right: 1px solid black;
  border-bottom: 1px solid darkgray;
}
