.help-segment .help-requirements {
  margin: 10pt;
  float: right;
  border-radius: 10pt;
  border: 1px solid lightslategray;
  padding: 0;
}
.help-segment .help-requirements .header {
  min-width: fit-content;
  border-radius: 10pt 10pt 0 0;
  position: relative;
  display: block;
  background: lightblue;
  text-align: center;
  margin: auto;
}
.help-segment .help-requirements ul {
  list-style-type: square;
  list-style-position: inside;
  padding: 2pt;
  min-width: 100pt;
}
.help-segment .help-knowledge {
  background: #d5f3cd;
  border-radius: 10pt;
  border: 1px solid lightslategray;
  padding: 10pt 20pt 20pt;
}
.help-segment .help-knowledge ul {
  list-style-type: square;
  list-style-position: inside;
  padding: 0;
}
.help-navigation p {
  margin-bottom: 0;
}
.help-navigation p a {
  display: inline-block;
}
img {
  margin-bottom: 1rem;
}
