<!DOCTYPE html>
<!--suppress HtmlUnknownTarget, HtmlUnknownAnchorTarget -->
<html lang="en">
<head>
    <title>Tina4 Documentation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS & font-awesome-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/fontawesome.min.js"
            integrity="sha512-j3gF1rYV2kvAKJ0Jo5CdgLgSYS7QYmBVVUjduXdoeBkc4NFV4aSRTi+Rodkiy9ht7ZYEwF+s09S43Z1Y+ujUkA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Hilight js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/a11y-dark.min.css"
          integrity="sha512-Vj6gPCk8EZlqnoveEyuGyYaWZ1+jyjMPg8g4shwyyNlRQl6d3L9At02ZHQr5K6s5duZl/+YKMnM3/8pDhoUphg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"
            integrity="sha512-gU7kztaQEl7SHJyraPfZLQCNnrKdaQi5ndOyt4L4UPL/FHDd/uB9Je6KDARIqwnNNE27hnqoWLBq+Kpe4iHfeQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/php.min.js"
            integrity="sha512-/3+V7ZkxAwWeMGZxQAkRO+HUMTVpeGQPDMpGdFya68jEd/2xIGmhjh1pPE1Z463LEBzxH4J84hoe6+kOQHE7MQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/scss.min.js"
            integrity="sha512-B6B6/6JDIq5g2jqojrEdCrUCY3rZPLEg4i9tpyF+A+u/8k3/7iPF9WAdQi2it/SvdVUPMNQI5cRT8jMBySQDfg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/bash.min.js"
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css"/>
    <link rel="stylesheet" href="/src/templates/documentation/default.css"/>
</head>
<body>
<div class="main-container">
    <nav id="sidenav-1" class="sidenav" data-mdb-hidden="false">
        <div class="nav-header">
            <a class="logo" href="https://tina4.com"><img class="logo-img" src="/images/logo.png" alt="Tina4 Logo"
                                                          width="95%"></a>
            <button onclick=hamburger() class="hamburger-button"><img class="hamburger" alt="hamburger" src="/images/burger.svg">
            </button>
        </div>
        <div class="help-navigation" id="help-nav">
            <div class="mobile-logo"  href="https://tina4.com"></div>


            <div class="accordion accordion-flush" id="DocsParent">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="Introduction">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#CollapseIntroduction" aria-expanded="false"
                                aria-controls="CollapseIntroduction">
                            Introduction
                        </button>
                    </h2>
                    <div id="CollapseIntroduction" class="accordion-collapse collapse" aria-labelledby="Introduction"
                         data-bs-parent="#DocsParent">
                        <div class="accordion-body">
                            <p><a href="#home">Running from Docker </a><br/><span> Introduction </span></p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="GettingStarted">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseGettingStarted" aria-expanded="false"
                                aria-controls="collapseGettingStarted">
                            Getting Started
                        </button>
                    </h2>
                    <div id="collapseGettingStarted" class="accordion-collapse collapse" aria-labelledby="GettingStarted"
                         data-bs-parent="#DocsParent">
                        <div class="accordion-body">
                            <p><a href="#getting-started-running-from-docker">Running from Docker </a><br/><span>  Quick start </span></p>
                            <p><a href="#getting-started-basic-website">Basic Website </a><br/><span>  Using Twig </span></p>
                            <p><a href="#getting-started-tina4-php">Tina4 PHP </a><br/><span>  Using Tina4 PHP  </span></p>
                            <p><a href="#getting-started-debugging"> Debugging </a><br/><span>  How does debugging work? </span></p>
                            <p><a href="#getting-started-environment-variables">Environment variables </a><br/><span>  Global environment in .env  </span></p>
                            <p><a href="#getting-started-forms-capturing-data"> Forms </a><br/><span>  Capturing data from your webpage </span></p>
                            <p><a href="#getting-started-routing"> Routing </a><br/><span>  How does routing work? </span></p>
                            <p><a href="#getting-started-twig"> Twig </a><br/><span>  How to extend with Tina4 </span></p>
                            <p><a href="#getting-started-secure-routing"> Securing your routes </a><br/><span>  How does security work with JWT? </span></p>
                            <p><a href="#getting-started-annotating-routes"> Annotating routes for Swagger UI </a><br/><span>  Using Open API with Swagger UI </span></p>
                            <p><a href="#getting-started-databases">Databases </a><br/><span>  Connecting to a database  </span></p>
                            <p><a href="#getting-started-querying-a-database">Database Queries </a><br/><span>  Querying data  </span></p>
                            <p><a href="#getting-started-api-requests"> API Requests </a><br/><span>  Working with 3rd party APIs </span></p>
                            <p><a href="#getting-started-migrations"> Database Migrations </a><br/><span>  Keeping track of your database changes </span></p>
                            <p><a href="#getting-started-security"> Security </a><br/><span>  Using the Authentication module </span></p>
                            <p><a href="#getting-started-orm">ORM </a><br/><span>  Object relational mapping  </span></p>
                            <p><a href="#getting-started-functional-testing">Functional Testing </a><br/><span>  Annotated testing while you code  </span></p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="HowDoI">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseHowDoI" aria-expanded="false"
                                aria-controls="collapseHowDoI">
                            How do I ?
                        </button>
                    </h2>
                    <div id="collapseHowDoI" class="accordion-collapse collapse"
                         aria-labelledby="HowDoI" data-bs-parent="#DocsParent">
                        <div class="accordion-body">
                            <p><a href="#how-do-i-render-a-twig-file">Render a Twig file?</a><br/><span>  Quick Guide  </span></p>
                            <p><a href="#how-do-i-create-a-jwt-token">Create a JWT token?</a><br/><span>  JSON Web Token  </span></p>
                            <p><a href="#send-an-email">Send a email?</a><br/><span>  Tina4 email function  </span></p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="Advanced">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAdvanced" aria-expanded="false"
                                aria-controls="collapseAdvanced">
                            Advanced
                        </button>
                    </h2>
                    <div id="collapseAdvanced" class="accordion-collapse collapse" aria-labelledby="Advanced"
                         data-bs-parent="#DocsParent">
                        <div class="accordion-body">
                            <p><a href="#advanced-modules">Modules</a></p>
                            <p><a href="#advanced-services">Services</a></p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="Contributing">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseContributing" aria-expanded="false"
                                aria-controls="collapseContributing">
                            Contributing
                        </button>
                    </h2>
                    <div id="collapseContributing" class="accordion-collapse collapse" aria-labelledby="Contributing"
                         data-bs-parent="#DocsParent">
                        <div class="accordion-body"><p><a href="#how-do-i-render-a-twig-file">Render a Twig file?</a></p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="Environment">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEnvironment" aria-expanded="false"
                                aria-controls="collapseEnvironment">
                            Setup<br/>Environment
                        </button>
                    </h2>
                    <div id="collapseEnvironment" class="accordion-collapse collapse" aria-labelledby="Environment"
                         data-bs-parent="#DocsParent">
                        <div class="accordion-body">
                            <p><a href="#install-php">Install PHP</a><br/><span>  How to install PHP  </span></p>
                            <p><a href="#install-composer">Install Composer</a><br/><span>  How to install Composer  </span></p>
                            <p><a href="#install-an-ide">Install an IDE</a><br/><span>  Best IDE for Tina4  </span></p>
                            <p><a href="#install-openssl">Install openSSL</a><br/><span>  How to install open SSL </span></p>
                            <p><a href="#recommended">Recommendations</a><br/><span> What else is recommended by Tina4 </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container ">
        <div class="wrapper">
            <h1 id="home">Introduction</h1>
            <p>
                Installing Tina4 should be very simple and straight forward, if you're finding the process too
                complicated consider reaching out for some help on our Discord channel <a href="https://discord.gg/UUkRq7sgSU" target="_blank">here</a>.
            </p>
            <p>
                First download the <a target="_blank" href="https://www.docker.com">docker desktop</a> environment and
                run the following commands based on your operating system:
            </p>
            <h4><i class="fa-brands fa-windows"></i> Windows</h4>
            <pre><code>{{ include_code("examples/run-from-docker-win.twig"| raw) }}</code></pre>

            <h4><i class="fa-brands fa-linux"></i> Linux / <i class="fa-brands fa-apple"></i> MacOS</h4>
            <pre><code>{{ include_code("examples/run-from-docker.twig"| raw) }}</code></pre>

            <p>The docker environment contains an <code>/app</code> folder which where your application will be served
                from. The command above is mounting the current working directory into the <code>/app</code> folder and
                then executing PHP on that folder to run the application. Theoretically you could run any PHP
                application with the Tina4 docker environment.</p>

            <h2>What's in the box?</h2>
            <ul>
                <li><b>Environment Variables</b> - Applications need constant variables or flags which can be used
                    globally in the code
                </li>
                <li><b>Secured routing with JWT tokens</b> - JWT tokens are encrypted tokens with a payload which holds
                    information about whether the tokens are still valid and who they're meant for, essentially securing
                    the transfer of data between third part applications
                </li>
                <li><b>Annotated routes with Open API and built in Swagger UI</b> - External developers who want to work
                    with APIs you've built need an easy place to test your APIs and Open API and Swagger UI are very
                    easy to create in Tina4
                </li>
                <li><b>Database ORM supporting CRUD generation</b> - Store data in well known database engines with
                    support for MySQL, MSSQL, Firebird, Postgres, SQlite3 and ODBC. Quickly build CRUD screens for
                    updating core data
                </li>
                <li><b>Auto-routed Twig templating</b> - Twig is a template engine which works out of the box in Tina4
                    with useful ways to add your own functionality to twig
                </li>
                <li><b>Shape HTML </b> - HTML DOM as code using object orientation to keep things tidy</li>
                <li><b>Built in webserver</b> - Use native PHP for a basic webserver when developing or wrapped with
                    Swoole for a production ready Asynchronous native PHP webserver
                </li>
            </ul>

            <h2>Auto-loading</h2>
            <p>Tina4 is designed to load and build files that are stored in the src folder without you having to include
                them. How does this work?</p>
            <ul>
                <li><b>composer.json</b> - The autoloader section and psr-4 section load files under the
                    <code>/src</code> folder
                </li>
                <li><b>tina4_auto_loader</b> - A method which overwrites the built-in PHP autoloader to load files under
                    the <code>/src</code> folder
                </li>
            </ul>

            <h2>Warning</h2>
            Tina4 is a highly opinionated framework which values simplicity and ease of use over complexity.

            <h2>Getting Started</h2>
            {% include "documentation/getting-started/running-from-docker.twig" with { anchor: 'getting-started-running-from-docker' } %}
            {% include "documentation/getting-started/basic-website.twig" with { anchor: 'getting-started-basic-website' } %}
            {% include "documentation/getting-started/tina4-php.twig" with { anchor: 'getting-started-tina4-php' } %}
            {% include "documentation/getting-started/debugging.twig" with { anchor: 'getting-started-debugging' } %}
            {% include "documentation/getting-started/environment-variables.twig" with { anchor: 'getting-started-environment-variables' } %}
            {% include "documentation/getting-started/forms.twig" with { anchor: 'getting-started-forms-capturing-data' } %}
            {% include "documentation/getting-started/routing.twig" with { anchor: 'getting-started-routing' } %}
            {% include "documentation/getting-started/twig.twig" with { anchor: 'getting-started-twig' } %}
            {% include "documentation/getting-started/getting-started-secure-routing.twig" with { anchor: 'getting-started-secure-routing' } %}
            {% include "documentation/getting-started/getting-started-annotating-routes.twig" with { anchor: 'getting-started-annotating-routes'} %}
            {% include "documentation/getting-started/getting-started-databases.twig" with { anchor: 'getting-started-databases'} %}
            {% include "documentation/getting-started/getting-started-querying-a-database.twig" with { anchor: 'getting-started-querying-a-database'} %}
            {% include "documentation/getting-started/getting-started-api-requests.twig" with { anchor: 'getting-started-api-requests'} %}
            {% include "documentation/getting-started/getting-started-migrations.twig" with { anchor: 'getting-started-migrations'} %}
            {% include "documentation/getting-started/getting-started-security.twig" with { anchor: 'getting-started-security'} %}
            {% include "documentation/getting-started/getting-started-orm.twig" with { anchor: 'getting-started-orm'} %}
            {% include "documentation/getting-started/getting-started-functional-testing.twig" with { anchor: 'getting-started-functional-testing'} %}

            <h2>How Do I ?</h2>
            {% include "documentation/how-do-i/render-a-twig-file.twig" with { anchor: 'how-do-i-render-a-twig-file' } %}
            {% include "documentation/how-do-i/create-a-jwt-token.twig" with { anchor: 'how-do-i-create-a-jwt-token' } %}
            {% include "documentation/how-do-i/send-an-email.twig" with { anchor: 'send-a-email' } %}
            <h2>Advanced</h2>
            {% include "documentation/advanced/modules.twig" with { anchor: 'advanced-modules' } %}
            {% include "documentation/advanced/services.twig" with { anchor: 'advanced-services' } %}
            <h2>Contributing</h2>
            <a href="https://loom.com/invite/6a3f0227ce5e4123909a853d07d35612">Making videos on Loom</a>
            <h2>Setup Environment</h2>
            {% include "documentation/environment/install-php.twig" with { anchor: 'install-php' } %}
            {% include "documentation/environment/install-composer.twig" with { anchor: 'install-composer' } %}
            {% include "documentation/environment/install-an-ide.twig" with { anchor: 'install-an-ide' } %}
            {% include "documentation/environment/install-openssl.twig" with { anchor: 'install-openssl' } %}
            {% include "documentation/environment/recommended.twig" with { anchor: 'recommended' } %}
        </div>
    </div>
    <script>
        /**
         * Adds a copy button to the source code windows of hjjs
         */
        hljs.addPlugin(new CopyButtonPlugin());

        /**
         * Hi-lights all the source code
         */
        hljs.highlightAll();

        /**
         * Opening and closing of the hamburger menu
         */
        function hamburger() {
            if (document.getElementById("help-nav").style.display === "inline" && window.screen.width <= 800) {
                document.getElementById("help-nav").style.display = "none";
            } else{
                document.getElementById("help-nav").style.display = "inline";
            }
        }
        /**
         * Closes and opens the sidebar depending on resolution using Event listener
         */
        let limitFunc = function(){
            if (window.screen.width>=800){
                document.getElementById("help-nav").style.display = "inline";
            } else{
                document.getElementById("help-nav").style.display = "none"

            }
        };
        window.addEventListener("resize", limitFunc);
        /**
         * runs function when corresponding tag is pressed,Applied to all Nav links
         */
        $(document).ready(function() {
            $('.accordion-body span a').click(function() {
               hamburger();
            });
        });
    </script>
</div>
</body>
</html>

