# Created by .ignore support plugin (hsz.mobi)
.idea
.vscode
/vendor/
/cache/
/src/assets/index.twig
/auth.db
/tools/HTMLFunctions.txt
/secrets/
/tests/vendor/
/tests/tests/_data/
/tests/tests/_output/
/tests/composer.lock
/tests/.env
/tests/test.db
tests/tests/acceptance/
tests/tests/functional/
/.env
/migrations/
/.env.test
test.php
/src/assets/css/default.css
/messages.mo
/messages.po
/data.db
/data.db-shm
/data.db-wal
/cms.db
/src/app/TestClass.php
/src/app/routes/test.php
/src/services/TestService.php
/src/services/TestProcess.php
test.db
/src/templates/api/tests/
/src/templates/test/
/log/debug.log
/subfolder/
/.phpdoc/
/phpmetrics/
/.phplint-cache
/tests/junit.xml
/.env.prod
/cms.db-shm
/cms.db-wal
/test.db-shm
/test.db-wal
/TINA4_DOCUMENT_ROOT/log/debug.log
/bin/services.data
/build/
/data2.db
/data2.db-shm
/data2.db-wal
/src/templates/api/testme/
/src/app/Store.php
/src/orm/Something.php
/src/scss/test.scss
/src/scss/hello.scss
/bin/tina4service
/bin/fbclient.dll
/bin/firebird.msg
/bin/ib_util.dll
/bin/icudt30.dll
/bin/icuin30.dll
/bin/icuuc30.dll
/bin/libmariadb.dll
/bin/libmariadb.lib
/bin/local-php-security-checker.exe
/bin/mariadbclient.lib
/bin/Microsoft.VC80.CRT.manifest
/bin/msvcp80.dll
/bin/msvcr80.dll
/bin/reportengine
/bin/reportengine.exe
/bin/settings.json
/log/event.log
/deployment/
/src/public/css/tina4-docs.css
/src/public/components/
/src/public/images/test/
/log/deploy.log
/bin/tina4
/src/templates/index.twig
/bin/libmysql.dll
/bin/sqlite3.dll
/src/routes/decorator.php
/.phpunit.result.cache
