DirectoryIndex index.php
RewriteEngine On
# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

#Add ability to get the authorization headers on the webserver
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate" "expr=%{CONTENT_TYPE} =~ m#text/html#"
Header set Pragma "no-cache" "expr=%{CONTENT_TYPE} =~ m#text/html#"
Header set Expires "0" "expr=%{CONTENT_TYPE} =~ m#text/html#"
