<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Tina4 Frond Tests">
            <file>tests/FrondTest.php</file>
        </testsuite>
        <testsuite name="Tina4 v3 Tests">
            <file>tests/DotEnvTest.php</file>
            <file>tests/LogTest.php</file>
            <file>tests/CorsTest.php</file>
            <file>tests/RateLimiterTest.php</file>
            <file>tests/HealthTest.php</file>
            <file>tests/DatabaseUrlTest.php</file>
            <file>tests/RequestV3Test.php</file>
            <file>tests/ResponseV3Test.php</file>
            <file>tests/RouterV3Test.php</file>
            <file>tests/RouteDiscoveryV3Test.php</file>
            <file>tests/SQLite3AdapterTest.php</file>
            <file>tests/ORMV3Test.php</file>
            <file>tests/AutoCrudV3Test.php</file>
            <file>tests/MigrationV3Test.php</file>
            <file>tests/AuthV3Test.php</file>
            <file>tests/SessionV3Test.php</file>
            <file>tests/I18nV3Test.php</file>
            <file>tests/SeederV3Test.php</file>
            <file>tests/ScssV3Test.php</file>
            <file>tests/QueueV3Test.php</file>
            <file>tests/GraphQLV3Test.php</file>
            <file>tests/WebSocketV3Test.php</file>
            <file>tests/ServiceRunnerV3Test.php</file>
        </testsuite>
    </testsuites>
</phpunit>
