{#
# Tina4 : This Is Not Another Framework
# Created with : PHPStorm
# User : andrevanzuydam
# Copyright (C)
# Contact : andre@codeinfinity.co.za
#}

{# HTML script which includes Jquery and Bootstrap. Gives user option to register or login #}
{# Includes TWIG script required based on user selected option #}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-2kOE+STGAkgemIkUbGtoZ8dJLqfvJ/xzRnimSkQN7viOfwRvWseF7lqcuNXmjwrL" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    {% if Action == "Login" %}
        {% include "auth/login.twig" %}
    {% elseif Action == "Register" %}
        {% include "auth/register.twig" %}   {# does not exist #}
    {% else %}
        {% include "auth/wizard.twig" %}
    {% endif %}
</div>
</body>