{#
# Tina4 : This Is Not Another Framework
# Created with : PHPStorm
# User : andrevanzuydam
# Copyright (C)
# Contact : andre@codeinfinity.co.za
#}

{# Twig template for exsiting User login #}
{# Creates form ,uses POST method to keep data secure and sends data to server side form handler for authentication. #}
{# Form validation - User is required to input username and passwords in the form #}
<form method="post" action="/auth/validate">
    <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" name="username" placeholder="Username" required>
    </div>

    <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" name="password" placeholder="Password" required>
    </div>

    <button class="btn btn-primary">
        Login
    </button>

</form>