{%  extends "base.twig" %}

{% block headers %}
    <!-- add a link for bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <h1>Hello World Base Twig Example</h1>
{% endblock %}
