<!DOCTYPE html>
<html>
<head>
    <title>Form Example</title>
</head>
<body>
<form method="post" action="/submit">
    <input type="text" name="fullName" placeholder="Full Name">
    <input type="text" name="email" placeholder="Email">
    <input type="hidden" name="formToken" value="{{ formToken }}">
    <button>Submit</button>
</form>
</body>
</html>