<!DOCTYPE html>
<html>
<head>
    <title>Basic Website</title>
</head>
<body>
<form method="post">
    <input type="text" name="fullName" placeholder="Full Name">
    <input type="text" name="email" placeholder="Email">
    <input type="hidden" name="formToken" value="{{ formToken }}">
    <button>Submit</button>

    <p>
        {{ Tina4.call("Contact", "saveContact", [request.fullName, request.email]) }}
    </p>

    {{ dump(request) }}
</form>
</body>
</html>