{% set title = 'How do i send a email in Tina4 ?' %}

{% set introduction %}
    Tina4 supports sending emails with the default system mailer and with PHPMailer.  Tina4 also can store the .eml files for you to read if you are just testing.
    Lets have a look at the basics.
{% endset %}

{% set requirements = ['Requirement 1', 'Requirement 2', 'Requirement 3'] %}

{% set content %}
    <h5>Sending emails</h5>
    <p>Emails can be sent by using the built in Tina4 function
        <pre><code>{{ include_code("examples/some-twig-file-with-code-in-it.twig"| raw) }}</code></pre>
    </p>
{% endset %}

{% set tips = [
    'Some useful stuff about the help section which may open doors to new things or just clarify obscure things'
]
%}

{% include "documentation/components/help-segment.twig" %}