{#
# Tina4 : This Is Not Another Framework
# Created with : PHPStorm
# User : andrevanzuydam
# Copyright (C)
# Contact : andre@codeinfinity.co.za
#}

<div class="alert alert-{{type}} alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>{{title}}</strong> {{ message }}
</div>
<script>
    {{ script }}
</script>