{#
# Tina4 : This Is Not Another Framework
# Created with : PHPStorm
# User : andrevanzuydam
# Copyright (C)
# Contact : andre@codeinfinity.co.za
#}

<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ content | raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="{{ onclick }}">OK</button>
                <button type="button" class="btn btn-warning"  data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#formModal").modal();
</script>