{#
# Tina4 : This Is Not Another Framework
# Created with : PHPStorm
# User : andrevanzuydam
# Copyright (C)
# Contact : andre@codeinfinity.co.za
#}

<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        {%  block headers %}
        {%  endblock %}
    </head>

<body>
{% block content %}
{% endblock %}
</body>

</html>