{#
# Tina4 : This Is Not Another Framework
# Created with : PHPStorm
# User : andrevanzuydam
# Copyright (C)
# Contact : andre@codeinfinity.co.za
#}

{%  extends "base.twig" %}
{%  set title = 'Auth Example' %}
{% block headers %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/8.0.20/jsrsasign-all-min.js"></script>
<script src="/assets/js/tina4helper.js"></script>
<script>let publicKey = '{{ publicKey }}';</script>
{% endblock %}
{% block content %}

<textarea id="key"></textarea>
<button onclick="validateKey()">Validate</button>
<script>

    function getKey() {
        postUrl('/auth/example/sign', JSON.stringify({name: 'Test'}), 'key');
    }

    function validateKey() {
        let isValid = KJUR.jws.JWS.verify($('#key').val(), publicKey, ["RS256"]);
        let payloadObj = KJUR.jws.JWS.readSafeJSONString(b64utoutf8($('#key').val().split(".")[1]));

        console.log (isValid, payloadObj);
    };

    getKey();
</script>

{% endblock %}