<body>
<div class="container-fluid text-center">
    <div class="col-lg-12 col-sm-6 bg-dark text-white ">
        <h1>Welcome...</h1>
        <h1>This is my website</h1>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <h1>I made this with Tina4</h1>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <h3>Its really easy</h3>
                    <p>Cant believe it!!!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container" >
            <div class="row justify-content-center">
                <div class="col-12 col-lg-7">
                    <h2 class="bg-dark text-white">About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate faucibus tortor non sollicitudin. Cras ornare felis at sapien eleifend cursus. Sed ullamcorper placerat ex ullamcorper bibendum. Donec vitae metus non metus pulvinar porttitor id nec lacus. Quisque condimentum tortor nunc, id viverra nisl gravida sed. Praesent laoreet elementum placerat. Praesent elementum nunc quis efficitur porttitor. Cras mollis mattis ligula. Aliquam commodo enim arcu, ut sagittis dui finibus non. Maecenas ut arcu mauris.</p>
                </div>
                <div class="col-sm-12 col-lg-5">
                    <div class="bg-dark text-white mb-4">
                        <h4>Our products include:</h4>
                    </div>
                    <div class="col-lg-12 col-sm-6 p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Bacon</li>
                            <li class="list-group-item">Eggs</li>
                            <li class="list-group-item">Mushrooms</li>
                            <li class="list-group-item">Toast</li>
                            <li class="list-group-item">Coffee</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <form id="someInput" name="someInput" >
            <ol>
                <li>test</li>
            </ol>

        </form>
        {{ someInput | formToken | raw }}
    </div>
</div>
</body>