<div class="row">
    <div class="col bg-dark text-white fixed-bottom text-center">
        <p class="foot">Copyright ©
            <script>document.write(new Date().getFullYear())</script>  <!-- gets current year -->
            Your Site. All Rights Reserved
        </p>
    </div>
</div>