<div class="alert alert-{{ type }} alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>{{ title }}</strong> {{ message }}
</div>
<script>
    {{ script }}
</script>