<div class="alert alert-{{type}} alert-dismissible fade show">
    <button type="button" class="close" data-bs-dismiss="alert">×</button>
    <strong>{{title}}</strong> {{ message }}
</div>
<script>
    {{ script }}
</script>