{% set title = 'Basic Website' %}

{% set introduction %}
Tina4 implements TWIG templating out of the box so all your html files should end with the twig extension.  Using twig allows you to use includes and therefore simplifies implementing web pages.
{% endset %}

{% set requirements = ['HTML', 'Twig'] %}

{% set content %}
<h5>Hello world Example!</h5>
<p>
    Under <code>src/templates</code> create a file called <code>index.twig</code>
    <pre><code>{{ include_code("examples/basic-website.twig"| raw) }}</code></pre>
    Click on the <a href="http://localhost:7145">http://localhost:7145</a> to see the site, once you have replaced the default site you can get your documentation here <a href="http://localhost:7145/documentation">http://localhost:7145/documentation</a>
</p>
<h5>Using a base template with inheritance on twig</h5>
<p>
    Under <code>src/templates</code> create a file called <code>base.twig</code> Notice the use of blocks in Twig, we will use those to inject content
    <pre><code>{{ include_code("examples/basic-website-base.twig"| raw) }}</code></pre>
</p>
<p>
    Under <code>src/templates</code> create a file called <code>index.twig</code> The code in this file will inherit the structure of <code>base.twig</code>. Use the blocks to inject your changes.
<pre><code>{{ include_code("examples/basic-website-base-example.twig"| raw) }}</code></pre>
</p>

{% endset %}

{% set tips = [
    'Tina4 templates are located under <code>src/templates</code>',
    'Routing is created dynamically, for example a file called <code>src/templates/contact-us.twig</code> will be accessible at <a href="/contact-us">http://localhost:7145/contact-us</a>',
    'Use <code>{% include "filename.twig" %}</code> to include a file, the include path is relative to the <code>src/templates</code> folder',
    'The <code>{{ formToken }}</code> Twig variable outputs a form token'
]
%}

{% include "documentation/components/help-segment.twig" %}