{% set title = 'Securing your Routes' %}

{% set introduction %}
    All POST, PUT, PATCH and DELETE routes are secured by default. This means that you need to send a valid JWT CSRF token with your request.  The token is normally in the form of a request or form input called <code>formToken</code>.
    Get routes can be secured by adding the <code>@secure</code> parameter to the comments of the route definition.  This will then require a valid JWT CSRF token to be sent with the request.
{% endset %}

{% set requirements = ['JWT', 'Annotations', 'Routing', 'HTML Forms'] %}

{% set content %}
    <h5>Adding the annotations</h5>
    <p>Here are some examples of securing the routes using annotations.  Annotations are prefixed with an @ sign and are placed above the route definition.
    <pre><code>{{ include_code("examples/securing-routes.twig"| raw) }}</code></pre>
    For a browser to hit up either of these routes, it will need to either pass a Basic Authorization header or request parameter called <code>formToken</code>.
    You can generate a token using the <code>getToken()</code> method on the <code>\Tina4\Auth</code> class.
    </p>
{% endset %}

{% set tips = [
    'The <code>getToken</code> method takes an array parameter for a payload which will be embedded in the token.<br>
    Example: <code> $tokenWithPayload = (new \Tina4\Auth())->getToken(["secret" => "I know the answer!"]); </code>',
    'You can create your own Authentication mechanism by extending your own class in the <code>app</code> folder from <code>\Tina4\Auth()</code>',
    'Visit <a href="https://jwt.io/" target="_blank">https://jwt.io</a> to see how JWT works',
    'Change the twig template under <code>src/public/errors/403.twig</code> to customize the error message when a route is forbidden',
    'You can get the payload from a formToken by calling <code>(new \Tina4\Auth())->getPayload($request->params["formToken"])</code>',
    'Token life time is set with the <code>TINA4_TOKEN_MINUTES</code> variable in the <code>.env</code> file'
]
%}

{% include "documentation/components/help-segment.twig" %}