{% set title = 'Connecting to Databases' %}

{% set introduction %}
    A web application is not very useful if it can't store data somewhere, to this end we have a number of database drivers available to use. Tina4 uses a standard way to connect to each database called a database abstraction, each database abstraction has a specific driver which it uses.
    Below is a table of the composer installation commands for each database driver.
    <table>
        <tr><th>Database Name</th><th>Command</th><th>Connection String</th></tr>
        <tr><td>Sqlite3</td><td><code>composer require tina4stack/tina4php-sqlite3</code></td><td><code>$DBA = new \Tina4\DataSQLite3("dbname", "username", "password", "dateformat");</code></td></tr>
        <tr><td>ODBC</td><td><code>composer require tina4stack/tina4php-odbc</code></td><td><code>$DBA = new \Tina4\DataODBC("connection string", "username", "password", "dateformat");</code></td></tr>
        <tr><td>MySQL</td><td><code>composer require tina4stack/tina4php-mysql</code></td><td><code>$DBA = new \Tina4\DataMySQL("host:dbname", "username", "password", "dateformat");</code></td></tr>
        <tr><td>Firebird</td><td><code>composer require tina4stack/tina4php-firebird</code></td><td><code>$DBA = new \Tina4\DataFirebird("host:dbpath", "username", "password", "dateformat");</code></td></tr>
        <tr><td>MongoDB</td><td><code>composer require tina4stack/tina4php-mongodb</code></td><td><code>$DBA = new \Tina4\DataMongoDb("host:dbname", "username", "password", "dateformat");</code></td></tr>
        <tr><td>PostgreSQL</td><td><code>composer require tina4stack/tina4php-postgresql</code></td><td><code>$DBA = new \Tina4\DataPostgresql("host:dbname", "username", "password", "dateformat");</code></td></tr>
        <tr><td>MSSQL</td><td><code>composer require tina4stack/tina4php-mssql</code></td><td><code>$DBA = new \Tina4\DataMSSQL("host:dbname", "username", "password", "dateformat");</code></td></tr>
        <tr><td>PDO</td><td><code>composer require tina4stack/tina4php-pdo</code></td><td><code>$DBA = \Tina4\DataPDO("dblib:host=hostname:port;dbname=dbname","username","password", "dateformat")</code></td></tr>
    </table>
{% endset %}

{% set requirements = ['SQL', 'Databases', 'Connection Strings'] %}

{% set content %}
    <h5>Connecting to and querying a database</h5>
    <p>In the examples below we have an example of how to connect to a database, execute SQL commands on it and querying it.</p>
    <pre><code>{{ include_code("examples/database-examples.twig"| raw) }}</code></pre>
    </p>
{% endset %}

{% set tips = [
    'Although it is possible to use the database abstraction directly, it is recommended to use the ORM to access the database',
]
%}

{% include "documentation/components/help-segment.twig" %}