{% set title = 'PHP with Tina4' %}

{% set introduction %}
    Tina4 docker has a well curated PHP environment which has a number of useful modules already built in for you to save time. You can use the Docker environment to run <i>any</i> PHP scripts, not necessarily only the Tina4 stack.  For example you can test running the swoole module using the Docker command under windows where it is impossible to run natively.
{% endset %}

{% set requirements = ['Docker', 'Bash', 'PHP'] %}

{% set content %}
<h5>Available PHP Modules</h5>
The hi-lighted modules are non-standard modules which have been built into the stack
<p><pre>
bcmath ctype curl date dom exif fileinfo filter ftp gd hash iconv <b>imagick</b> <b>interbase</b> intl json libxml mbstring <b>mongodb</b> mysqli mysqlnd
openssl <b>openswoole</b> pcntl pcov pcre PDO pdo_pgsql pdo_sqlite pdo_sqlsrv <b>pgsql</b> phar posix readline <b>redis</b> session SimpleXML soap sodium
<b>sqlite3</b> <b>sqlsrv</b> tidy tokenizer xml xmlreader xmlwriter zip zlib
</pre>
</p>
<h5>Some examples: </h5>
<pre><code>{{ include_code("examples/run-php-commands.twig"| raw) }}</code></pre>
{% endset %}

{% set tips = [
    'You can switch the PHP versions by adding the version to the docker image eg. <code>docker run tina4stack/php:8.1 </code> or <code>docker run tina4stack/php:7.4 </code>',
    'On windows you may need to restart your Docker Desktop if your computer sleeps',
    'The -v switch can mount any "local" PHP application on your system to the <code>/app</code> folder where it runs',
    'The docker image includes wine for running windows executables under linux and MacOS'
]
%}

{% include "documentation/components/help-segment.twig" %}