version: '3.1'
services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: Password1234!
  adminer:
    image: adminer
    restart: always
    ports:
      - 8181:8080
